.job-item {
  list-style-type: none;

  width: 96%;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;

  background-color: #272727;
}

.job-item:hover {
  box-shadow: 2px 2px 14px #bfbfbf;
}

.link-item {
  width: 100%;
  padding: 20px;

  text-decoration: none;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company-details-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.company-image {
  height: 70px;
  width: 70px;
  margin-right: 18px;
}

.position-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title-text {
  margin-top: 0;
  margin-bottom: 2px;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 600;

  color: #ffffff;
}

.company-rating-container {
  margin-top: 2px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.star-icon {
  width: 22px;
  height: 22px;
  margin-right: 8px;

  color: gold;
}

.rating-text {
  padding-top: 2px;

  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;

  color: #ffffff;
}

.location-job-type-ctc-container {
  width: 100%;
  padding-bottom: 6px;
  border-bottom: 2px solid #64748b;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-job-type-container {
  padding-bottom: 0;

  display: flex;
}

.location-container {
  margin-right: 25px;
  padding-bottom: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.location-icon {
  height: 20px;
  width: 20px;
  margin-right: 6px;
  margin-top: 14px;

  color: #ffffff;
}

.location-text {
  margin-bottom: 0;

  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;

  color: #ffffff;
}

.ctc-text {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 2px;

  color: #ffffff;
}

@media screen and (max-width: 400px) {
  .location-text {
    font-size: 12px;
  }

  .ctc-text {
    font-size: 12px;
  }
}

.job-card-description-title {
  margin-top: 20px;
  margin-bottom: 0;

  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;

  color: #ffffff;
}

.job-card-description {
  margin-top: 10px;

  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;

  color: #ffffff;
}
