.home-page-container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home-banner-container {
  width: 100%;
  height: 100vh;

  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .home-banner-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  }
}

.home-content {
  width: 90%;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .home-content {
    width: 80%;
  }
}

.home-header-content {
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;

  color: #ffffff;
}

.home-description {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  color: #ffffff;
}

.find-jobs-btn {
  height: 38px;
  width: 100px;
  border: none;
  border-radius: 6px;
  margin-top: 20px;
  padding: 8px 10px 10px 10px;

  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  color: #ffffff;
  background-color: #6366f1;

  justify-self: flex-end;
}
